<form class="flex flex-col justify-center relative" [formGroup]="form" [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="form.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="Investor-Review-Form">
  <div class="items-start md:flex-col">
    <div class="w-full">
      <mat-slide-toggle formControlName="approve" (change)="toggleNoteRequired($event)">Approve</mat-slide-toggle>
    </div>
    <div class="w-full mt-5 md:flex-col 2xl:w-full">
      <mat-form-field class="w-full">
        <textarea matInput cols="35" rows="8" placeholder="Note" formControlName="note"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="flex items-start justify-end space-x-6 mt-3">
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [hidden]="readOnly">Save</button>
  </div>
</form>