<form class="pb-6 min-h-full flex flex-col justify-start w-full" [formGroup]="deedForm" appForm="record-deed-form">

  <div>
    <app-drop-files label="Upload file of recorded deed" elementRef="deedDocument"
      (onFileDropped)="deedDocument.setValue($event)" [existingDocuments]="deedDocument.value"
      (resetControl)="deedDocument.reset()"></app-drop-files>
  </div>
  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg">Save</button>
  </div>
</form>