<form class="pb-6 min-h-full flex flex-col justify-start w-full relative" [formGroup]="deedForm"
  [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="deedForm.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="record-deed-form">

  <div>
    <app-drop-files label="Recorded Deed" elementRef="deedDocument" (onFileDropped)="deedDocument.setValue($event)"
      [existingDocuments]="deedDocument.value" (resetControl)="deedDocument.reset()"></app-drop-files>
  </div>
  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [hidden]="readOnly">Save</button>
  </div>
</form>