<form class="pb-6 min-h-full flex flex-col justify-start w-full" [formGroup]="form" appForm="received-doc-form"
  [ngClass]="{'pointer-events-none': readOnly}">

  <div>
    <app-drop-files label="Upload Deed Document" elementRef="deedFileDropRefReceive"
      (onFileDropped)="deedDocument.setValue($event)" [existingDocuments]="deedDocument.value"
      (resetControl)="deedDocument.reset()"></app-drop-files>
  </div>

  <div>
    <app-drop-files label="Upload Sales Agreement" elementRef="salesFileDropRef"
      (onFileDropped)="salesAgreementDocument.setValue($event)" [existingDocuments]="salesAgreementDocument.value"
      (resetControl)="salesAgreementDocument.reset()"></app-drop-files>
  </div>


  <div class="flex items-start gap-3 mt-5">
    <mat-form-field class="w-full">
      <mat-label>Notes</mat-label>
      <textarea matInput cols="35" rows="8" placeholder="Note" formControlName="notes"></textarea>
    </mat-form-field>
  </div>
  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [disabled]="form.invalid" [hidden]="readOnly">
      Save
    </button>
  </div>
</form>