<form class="pb-6 min-h-full flex flex-col justify-start w-full" [formGroup]="form" appForm="prepare-doc-form">
  <div class="flex space-x-4">
    <mat-checkbox class="w-full text-base mb-4" [checked]="true" disabled>Deed Document</mat-checkbox>
    <mat-checkbox class="w-full text-base mb-4 pl-4" color="primary" (change)="toggleUploadField()">Sales
      Agreement</mat-checkbox>
  </div>

  <div>
    <app-drop-files label="Upload Deed Document" elementRef="deedFileDropRef"
      (onFileDropped)="deedDocument.setValue($event)" [existingDocuments]="deedDocument.value"
      (resetControl)="deedDocument.reset()"></app-drop-files>
  </div>

  <div *ngIf="showUploadField" class="mt-8">
    <app-drop-files label="Upload Sales Agreement" elementRef="salesFileDropRef" [multiple]="false"
      (onFileDropped)="salesAgreementDocument.setValue($event)" [existingDocuments]="salesAgreementDocument.value"
      (resetControl)="salesAgreementDocument.reset()"></app-drop-files>
  </div>

  <div class="flex items-start gap-3 mt-5">
    <mat-form-field class="w-full">
      <mat-label>Notes</mat-label>
      <textarea matInput cols="35" rows="8" placeholder="Note" formControlName="notes"></textarea>
    </mat-form-field>
  </div>

  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary" class="[height:44px!important] text-lg"
      [disabled]="!isSaveButtonEnabled">
      Save
    </button>
    <button type="submit" mat-raised-button color="primary" class="[height:44px!important] text-lg"
      [disabled]="form.invalid">
      Save and Complete
    </button>
  </div>
</form>