<div class="p-4">
  <mat-accordion class="example-headers-align" multi class="mt-1">
    <!-- [disabled]="marketingSalesModal.MarketingSalesStatus !== MaketingSalesEnum.manageImages"> -->
    <mat-expansion-panel class="mt-3"
      [expanded]="marketingSalesModal.MarketingSalesStatus === MaketingSalesEnum.manageImages">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl"> Manage Images </mat-panel-title>
      </mat-expansion-panel-header>
      <app-manage-images (ImageData)="imageDataReceived"></app-manage-images>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi class="mt-1">
    <mat-expansion-panel class="mt-3"
      [expanded]="marketingSalesModal.MarketingSalesStatus === MaketingSalesEnum.manageAdText">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl"> Manage Ad Text</mat-panel-title>
      </mat-expansion-panel-header>
      <app-manage-ad-text></app-manage-ad-text>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi class="mt-1">
    <mat-expansion-panel class="mt-3" [expanded]="">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl"> Pre Marketing Complete</mat-panel-title>
      </mat-expansion-panel-header>
      <app-pre-marketing-completed></app-pre-marketing-completed>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi class="mt-1">
    <!-- [disabled]="marketingSalesModal.MarketingSalesStatus !== MaketingSalesEnum.marketingApproval"> -->

    <mat-expansion-panel class="mt-3"
      [expanded]="marketingSalesModal.MarketingSalesStatus === MaketingSalesEnum.marketingApproval">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl"> Pre Marketing Approval</mat-panel-title>
      </mat-expansion-panel-header>
      <app-pre-marketing-approval></app-pre-marketing-approval>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi class="mt-1">
    <!-- [disabled]="marketingSalesModal.MarketingSalesStatus !== MaketingSalesEnum.manageChannelAd"> -->
    <mat-expansion-panel class="mt-3"
      [expanded]="marketingSalesModal.MarketingSalesStatus === MaketingSalesEnum.manageChannelAd">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl">Manage Channel Ads</mat-panel-title>
      </mat-expansion-panel-header>
      <app-manage-channel-ad></app-manage-channel-ad>
    </mat-expansion-panel>
  </mat-accordion>
</div>