<form class="pb-6 min-h-full flex flex-col justify-start relative" [formGroup]="form" [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="form.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="intake-script-approval-form">
  <div class="flex items-start gap-3 mb-3">
    <mat-form-field class="w-full">
      <mat-label>Comment</mat-label>
      <textarea matInput cols="35" rows="8" placeholder="Comment here..." formControlName="comment"></textarea>
    </mat-form-field>
  </div>

  <div class="flex items-start justify-end space-x-6">
    <cancel-btn (promptConfirmed)="promptConfirmed($event)" [hidden]="readOnly"></cancel-btn>
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [hidden]="readOnly">Approve</button>
  </div>
</form>