<form class="flex flex-col justify-center relative" [formGroup]="form" [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="form.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="Sales-Details-Info">

  <div class="w-full">
    <mat-label class="md:flex-col 2xl:w-full">Sale Type </mat-label>
    <mat-radio-group class="flex items-center gap-2" aria-label="Select an option" formControlName="saleType" required>
      <mat-radio-button color="primary" class="inline-block [width:100px]" value="cash">Cash</mat-radio-button>
      <mat-radio-button color="primary" class="inline-block [width:100px]" value="terms">Terms</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="flex items-start gap-3 md:flex-col">
    <mat-form-field class="w-1/2 flex items-end md:flex-col">
      <mat-label>Contract Date</mat-label>
      <input placeholder="MM/DD/YYYY" matInput formControlName="contractDate" [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="form.controls.saleType.value === 'cash'" class="flex items-start gap-3 md:flex-col">
    <mat-form-field class="w-1/2">
      <mat-label>Cash Price</mat-label>
      <input type="text" formControlName="cashPrice" matInput prefix="$ " mask="separator.2" thousandSeparator=","
        placeholder="0.00" />
    </mat-form-field>
  </div>

  <div *ngIf="form.controls.saleType.value === 'terms'" class="w-full h-full">
    <div class="flex items-end gap-3 md:flex-col">
      <mat-form-field class="w-full">
        <mat-label>Monthly Note Fee</mat-label>
        <input type="text" formControlName="monthlyNoteFee" matInput prefix="$ " mask="separator.2"
          thousandSeparator="," placeholder="Monthly Note Fee" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Interest Rate</mat-label>
        <input type="text" formControlName="interestRate" mask="percent" suffix="%" matInput
          placeholder="Interest Rate" />
        <mat-error *ngIf="form.get('interestRate').hasError('required')">Interest Rate is required</mat-error>
      </mat-form-field>
    </div>

    <div class="flex items-end gap-3 md:flex-col">
      <mat-form-field class="w-full">
        <mat-label>Consideration</mat-label>
        <input type="text" formControlName="consideration" matInput placeholder="Consideration" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Grace Period Days</mat-label>
        <input type="number" formControlName="gracePeriodDays" matInput placeholder="Grace Period Days" />
      </mat-form-field>
    </div>
    <div class="flex items-end gap-3 md:flex-col">
      <mat-form-field class="w-full">
        <mat-label>Late Fee</mat-label>
        <input type="text" formControlName="lateFee" matInput prefix="$ " mask="separator.2" thousandSeparator=","
          placeholder="Late Fee" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>First Payment Date</mat-label>
        <input placeholder="MM/DD/YYYY" matInput formControlName="firstPaymentDate"
          [matDatepicker]="paymentDatePicker" />
        <mat-datepicker-toggle matIconSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #paymentDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex items-end gap-3 md:flex-col">
      <mat-form-field class="w-full">
        <mat-label>Monthly Terms Price</mat-label>
        <input type="text" formControlName="monthlyTermsPrice" matInput prefix="$ " mask="separator.2"
          thousandSeparator="," placeholder="Monthly Terms Price" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Total Monthly Payment</mat-label>
        <input type="text" formControlName="totalMonthlyPayment" matInput prefix="$ " mask="separator.2"
          thousandSeparator="," placeholder="Total Monthly Payment" />
      </mat-form-field>
    </div>
    <div class="flex items-end gap-3 md:flex-col">
      <mat-form-field class="w-full">
        <mat-label>Number of Months</mat-label>
        <input type="number" formControlName="numberOfMonths" matInput placeholder="Number of Months" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Monthly Taxes</mat-label>
        <input type="text" formControlName="monthlyTaxes" prefix="$ " mask="separator.2" thousandSeparator="," matInput
          placeholder="Monthly Taxes" />
      </mat-form-field>
    </div>
  </div>


  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary" class="[height:44px!important] text-lg" [hidden]="readOnly">
      <!--   [disabled]="form.invalid" -->
      Save and Complete
    </button>
  </div>
</form>