<form class="pb-6 min-h-full flex flex-col justify-start w-full relative" [formGroup]="form" [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="form.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="submit-process-title">
  <div>
    <app-drop-files label="Upload file of recorded deed" elementRef="fileDropRef"
      (onFileDropped)="images.setValue($event)" [existingDocuments]="images.value"
      (resetControl)="images.reset()"></app-drop-files>
  </div>

  <div class="flex items-center justify-end mt-6 space-x-4">
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [hidden]="readOnly">Save</button>
  </div>
</form>