<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    multiple
    (change)="onFileDropped($event)"
  />
  <img src="assets/images/pngwing.com.png" width="63" height="64"/>
  <h3>Drag and Drop Files here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for files</label>
</div>

<div class="file-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img src="assets/images/image1" width="63" height="64"/>
    <div class="info">
      <h4 class="name">
        {{ file.name }}
      </h4>
      <p class="size">
        <!-- {{formatBytes(file?.size)}} -->
      </p>
      <app-progress [progress]="file?.progress"></app-progress>

      <div class="delete" (click)="deleteFile(i)">
        <img class="delete" width="20px" />
      </div>
    </div>
  </div>
</div>
