<form class="pb-6 min-h-full flex flex-col justify-start w-full" [formGroup]="form" appForm="final-purchase"
  [ngClass]="{'pointer-events-none': readOnly}">

  <mat-form-field class="w-full">
    <mat-label>Final Offer Amount</mat-label>
    <input type="text" formControlName="finalofferamount" matInput prefix="$ " mask="separator.2" thousandSeparator=","
      placeholder="0.00" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Note</mat-label>
    <textarea matInput cols="35" rows="8" placeholder="Note" formControlName="note"></textarea>
  </mat-form-field>

  <mat-label class="flex items-center gap-2">
    <mat-icon>verified_user</mat-icon>
    {{title}}
  </mat-label>


  <div class="flex items-start justify-end space-x-6">
    <cancel-btn (promptConfirmed)="promptConfirmed($event)" [hidden]="readOnly"></cancel-btn>
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg" [hidden]="readOnly">Approve</button>
  </div>
</form>