<form class="pb-6 min-h-full flex flex-col justify-center relative" [formGroup]="form" [readOnlyForm]="readOnly"
  [messageToDisplayOnCLick]="form.valid ? 'Click edit to make changes':'Please fill the above form'"
  appForm="Additional-Buyer">


  <div class="flex items-center gap-3 md:flex-col">
    <mat-form-field class="w-full">
      <mat-label>First Name</mat-label>
      <input type="text" matInput formControlName="firstName" placeholder="Enter First Name">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name">
    </mat-form-field>
  </div>


  <div class="flex items-center gap-3 md:flex-col">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Enter Email">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Company Name</mat-label>
      <input matInput formControlName="companyName" placeholder="Enter Company Name">
    </mat-form-field>
  </div>


  <div class="flex items-center gap-3 md:flex-col">
    <mat-form-field class="w-1/2">
      <mat-label>Phone Number</mat-label>
      <input matInput type="number" formControlName="phoneNumber" placeholder="Enter Phone Number">
    </mat-form-field>
  </div>

  <div class="flex items-start justify-end space-x-6 mt-3">
    <button type="button" mat-raised-button color="warn" class="[height:44px!important] [width:100px!important] text-lg"
      (click)="discard()">Cancel</button>
    <button type="submit" mat-raised-button color="primary"
      class="[height:44px!important] [width:100px!important] text-lg">Save</button>
  </div>
</form>