/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-expansion-indicator::after {
  border-color: black !important;
}

.read-only-container {
  @apply absolute h-full w-full inset-0 z-10 bg-transparent;
}
